header {
    min-height: 10vh;
    background-image: linear-gradient(to top, $background-gradiente-lineal);
    nav {
        li{
            a{
                color: white;
                &:hover {
                    color: rgb(185, 177, 177);
                }
            }
        }
    }
    #btnCarrito{
        cursor: pointer;
    }
    #contador {
        background-color: rgb(207, 204, 204);
        width: 1.5rem;
        font-size: 1.2rem;
        border-radius: 50%;
        font-family:$font;
        position: absolute;
    }
}